.menu-bg{
    /* background-image: url("../../../assets/menu/banner3.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.menu-section{
    background-color: #FFF;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%; 
    max-width: 650px;
    max-height: 90vh;
    background-color: rgba(21, 21, 21, 0.60);
    /* position: absolute; */
    opacity: 1;
    border: 0;
    top: 0;
    left: 0;
    z-index: 10;
    color:#ffff;
          /* width: "100%" */

}
.menu-description{
    text-align: center;
}
.menu-details{
    font-size: 16px;
}