.featured-button{
    padding: 20px 30px;
    background: #E8E8E8;
    color: #BB8506;
    font-size: 20px;
    border-radius: 8px;
   border-bottom: 3px solid #BB8506;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   transition: background-color 0.3s ease, transform 0.3s ease;


}
.featured-button:hover{
    background-color: #1F2937;
    border-bottom: 0;
    
}

